.list{
  padding-left: 40px;
}

.item::marker{
  color: #ffd358;
}
.item{
font-size: 18px;
cursor: pointer;
}

.item+.item{
  margin-top: 20px;
}

.title{
  font-size: 18px;
}
.text{
  font-size: 12px;
}


.link:hover, 
.link:focus{
  color: #9a484d;   
}