@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./fonts.css";

body {
  margin: 0;
  font-family: "Inter";
  background-color: #151515;
  background-color: #353333;
  color: rgb(231, 220, 220);
  color: #ffe7e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  letter-spacing: 0.06em;
  line-height: 1.5;
}

p + p {
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* PAGINATION */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.pagination .text {
  opacity: 0.6;
  font-size: 1.5rem;
}

.page {
  color: white;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid 0.2rem #4aa5be;
  background-color: transparent;
  border-radius: 0.7rem;
  cursor: pointer;
}

.page.active,
.page:hover {
  background-color: #4aa5be;
}

.page.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}
